/**
 * AspectFile Styles
 */

/* Hidden fields should not take up space */
.aspectfile-hidden {
    display: none !important;
    margin-bottom: 0 !important;
    padding: 0 !important;
    height: 0 !important;
}